@page "/"

@inject IStringLocalizer<App> Localizer
<h1>Hello, world!</h1>

Welcome to your new app.
<LanguageSelector />
<div>@CultureInfo.CurrentCulture</div>
<div>@CultureInfo.CurrentUICulture</div>
@Localizer["Hello"]
<br />
@Localizer["Whats up?"]
<br />
@Localizer["Lets go!"]